* {
    box-sizing: border-box;
    height: 100;
}
html {
    scroll-behavior: smooth;
}

#home {
    min-height: 40vh;
}

#projects {
    min-height: 50vh;

}

#skills {
    min-height: 50vh;

}
.img-icon img{
    height: 100px;
    width: 100px;
    object-fit: contain;
    transition: transform 0.3s ease;
}
/* home img bibek */
  .custom-img {
  /* width: 100%; */
  max-width: 300px;
  height: auto;
  transition: all 0.3s ease-in-out;
  border-bottom-left-radius:800px ;
  border-bottom-right-radius: 800px ;
  border-top-left-radius: 800px ;
  border-top-right-radius:800px  ;

}
/* home img bibek */

/* introduction */
.introduction {
    margin: 70px;
    padding: 70px;
    text-align: center;
}

.btn:hover {
    background-color: black;
    color: white;
}
/* introduction */
.img-icon img:hover {
    transform: scale(1.1);
  }

.arrow-up {
    position: relative;
  }

.c-btn:hover {
    background-color: black;
    color: white;
}
#btn-back-to-top {
    height: 80px;
    width: 80px;
    display: block;
    position: fixed;
    right: 40px;
    bottom: 40px;
    font-size: 1.4 rem;
  }

footer {
    min-height: 12vh;

}

.fonts {
    font-size: 30px;
    text-align: center;

}

