* {
    box-sizing: border-box;
    height: 100;
}
html {
    scroll-behavior: smooth;
}

#home {
    min-height: 40vh;
}

#projects {
    min-height: 50vh;

}

#skills {
    min-height: 50vh;

}
.img-icon img{
    height: 100px;
    width: 100px;
    object-fit: contain;
    transition: transform 0.3s ease;
}
  
.img-icon img:hover {
    transform: scale(1.1);
  }
  